{% extends "partials/base.html" %}
{% load static %}
{% block title %}Entrada Confirmada{% endblock %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Actividades" title="Entrada Confirmada" %}
            {% endblock pagetitle %}

            <div style="margin: 0; padding: 0; background-color: #eeeeee;" bgcolor="#eeeeee">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" bgcolor="#eeeeee">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                <tr>
                                    <td align="center" style="font-size:0; padding: 35px;" bgcolor="green">
                                        <h1 style="font-size: 36px; font-weight: 800; color: #ffffff;">Entrada Confirmada</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#ffffff" style="padding: 35px;">
                                        <h2 style="font-size: 30px; font-weight: 800; color: #333333;">
                                            ¡Registro válido!
                                        </h2>
                                        <p><b>Actividad:</b> {{ actividad.aNombre }}</p>
                                        <p><b>Participante:</b> {{ usuario.aNombre }} {{ usuario.aApellido }}</p>

                                        {% if acompanantes %}
                                            <h3>Acompañantes:</h3>
                                            <ul>
                                                {% for acomp in acompanantes %}
                                                    <li>{{ acomp.aNombre }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        <a href="{% url 'escaneo_actividad' %}" class="btn btn-primary">Escanear otro</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
