{% extends "web/layouts/base.html" %}
{% block title %}Aportación Registrada{% endblock %}
{% block content %}
<div class="auth-page-wrapper pt-5">
    <div class="auth-page-content">
        <div class="container text-center">
            <h3 class="text-warning">¡Aportación Registrada!</h3>
            <p class="text-muted">El pago está pendiente. Hemos enviado un correo con los datos para realizar el pago.</p>
            <a href="{% url 'evento_detalles' aportacion.idEvento.idEvento %}" class="btn btn-primary mt-3">Volver al Evento</a>
        </div>
    </div>
</div>
{% endblock %}
